body {
    text-align: center;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

h1 {
   
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
